<% # -*- coding: UTF-8 -*- %>
<!DOCTYPE html>
<%
   # Copyright 2012-2013 Mikko Apo
   #
   # Licensed under the Apache License, Version 2.0 (the "License");
   # you may not use this file except in compliance with the License.
   # You may obtain a copy of the License at
   #
   #    http://www.apache.org/licenses/LICENSE-2.0
   #
   # Unless required by applicable law or agreed to in writing, software
   # distributed under the License is distributed on an "AS IS" BASIS,
   # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   # See the License for the specific language governing permissions and
   # limitations under the License.
%><html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="<%= res_url("css/ki.scss") %>"/>
    <% if params[:test] %>
        <link rel="stylesheet" href="<%= res_url("js-test/mocha.css") %>"/>
    <% end %>
</head>
<body>

<script id="t-all-components" type="text/x-handlebars-template">
    <a href="/repository">Components</a>
    <hr/>
    <h3>Components</h3>

    <table id="component-list">
        {{#each this}}
        <tr><td><a class="name" href="/repository/component/{{this}}">{{this}}</a></td></tr>
        {{/each}}
    </table>
</script>

<script id="t-component" type="text/x-handlebars-template">
    <a href="/repository">Components</a> &gt;
    <a class="componentName" href="/repository/component/{{componentName}}">{{componentName}}</a>
    <hr/>
    <h3>Versions</h3>

    <table id="version-list">
        {{#each versions}}
        <tr><td class="id"><a href="/repository/version/{{../componentName}}/{{this.id}}">{{this.id}}</a></td></tr>
        {{/each}}
    </table>
</script>

<script id="t-version-top" type="text/x-handlebars-template">
    <a href="/repository">Components</a> &gt;
    <a class="componentName" href="/repository/component/{{componentName}}">{{componentName}}</a>
    /
    <a class="versionName" href="/repository/version/{{componentName}}/{{versionName}}">{{versionName}}</a>
    <hr/>
    <p class="version_id">{{componentName}}/{{versionName}}</p>

    {{#if dependencies}}
    <h3>Dependencies</h3>
    <table id="dependencies">
        <tr><th>Version</th><th>Name</th><th>Path</th><th>Internal</th></tr>
        {{#each dependencies}}
        <tr>
            <td class="version_id"><a href="/repository/version/{{version_id}}">{{version_id}}</a></td>
            <td class="name">{{name}}</td>
            <td class="path">{{path}}</td>
            <td class="internal">{{internal}}</td>
        </tr>
        {{/each}}
    </table>
    {{/if}}

    {{#if status}}
    <h3>Statuses</h3>
    <table id="statuses">
        <tr><th>Status</th><th>Value</th></tr>
        {{#each status}}
        <tr>
            <td class="status">{{status}}</td>
            <td class="value">{{value}}</td>
        </tr>
        {{/each}}
    </table>
    {{/if}}

    {{#if files}}
    <h3>Files</h3>
    <table id="version-files">
        <tr><th>Path</th><th>Size</th><th>SHA1</th></tr>
        {{#each files}}
        <tr>
            <td class="path">{{path}}</td>
            <td class="size">{{size}}</td>
            <td class="sha1">{{sha1}}</td>
        </tr>
        {{/each}}
    </table>
    {{/if}}
</script>

<div id="content"></div>

<script type="text/javascript" src="<%= res_url("js/jquery-1.9.0.js") %>"></script>
<script type="text/javascript" src="<%= res_url("js/handlebars.js") %>"></script>
<script type="text/javascript" src="<%= res_url("views/Steward.coffee") %>"></script>
<script type="text/javascript" src="<%= res_url("views/ki-flow.coffee") %>"></script>
<script type="text/javascript" src="<%= res_url("views/repository.coffee") %>"></script>

<% if params[:cssReload] %>
    <script>
        setInterval(function() {
            $('link[rel="stylesheet"]').each(function(i, e){
                $(e).attr('href', $(e).attr('href').split("?")[0] + "?" + Date.now());
            })
        }, 1000);
    </script>
<% end %>

<% if params[:test] %>
    <div id="mocha"></div>
    <script type="text/javascript" src="<%= res_url("js-test/mocha.js")%>"></script>
    <script type="text/javascript" src="<%= res_url("js-test/chai.js")%>"></script>
    <script type="text/javascript">mocha.setup('bdd');chai.should();</script>
    <script type="text/javascript">initRouter();router.disableUrlUpdate=true;</script>
    <script type="text/javascript" src="<%= res_url("views/repository_js_test.coffee")%>"></script>
    <script type="text/javascript">mocha.run();</script>
<% else %>
    <script type="text/javascript">
        $(document).ready(function() {
            initRouter()
        });
    </script>
<% end %>
</body>
</html>


